################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C/x64/Debug
/Python/__pycache__
/C/Debug
/C++/Debug/C++.tlog
/C++/Debug
